@if (Movies is null)
{
    <p>loading movies...</p>
}
else if (Movies.Count == 0)
{
    <p>No movies availables</p>
}
else
{
    <h4>Example Foreach</h4>

   @*  <input type="checkbox" @onchange="@(() => ShowButtons = !ShowButtons)" /> *@
    <input type="checkbox" @bind="ShowButtons" />
    <span>Show Buttons</span>

    @foreach (var movie in Movies)
    {
        @*  <div>
            <p>
                Title: <b>@movie.Title</b>
                @if (DateTime.Today.Subtract(movie.DateLaunch).Days <= 14)
                {
                    <span style="color: orangered"> (new!)</span>
                }
            </p>
            <p>Date launch: <b> @movie.DateLaunch.ToString("yyyy MMM dd") </b></p>
        </div> *@
        <MovieIndividual Movie="movie" ShowButtons="ShowButtons" DeleteMovieEvent="DeleteMovieEvent"></MovieIndividual>
    }
    <h4>Example For</h4>
    @for (int i = 0; i < Movies.Count; i++)
    {
        <div>
            <p>@(i + 1)) Title: <b>@Movies[i].Title</b></p>
            <p>Date launch: <b> @Movies[i].DateLaunch.ToString("yyyy MMM dd") </b></p>
        </div>
    }
}

@code {
    [Parameter]
    public List<Movie>? Movies { get; set; }

    bool ShowButtons = false;

    // public List<Movie> GetMovies()
    // {
    //     return new List<Movie>()
    //     {
    //         new Movie() { Title = "Black, Amor y Compasión", DateLaunch = new DateTime(2023, 11, 11) },
    //         new Movie() { Title = "Winter", DateLaunch = new DateTime(2024, 05, 19) },
    //         new Movie() { Title = "Panter", DateLaunch = new DateTime(2024, 1, 21) }
    //     };
    // }

    // protected override async Task OnInitializedAsync()
    // {
    //     await Task.Delay(3000);
    //     Movies = GetMovies();
    // }

    private void DeleteMovieEvent()
    {
        Console.WriteLine("deleting a movie...");
    }
}
