@* <div>
    <p>
        Title: <b>@Movie.Title</b>
        @if (DateTime.Today.Subtract(Movie.DateLaunch).Days <= 14)
        {
            <span style="color: orangered"> (new!)</span>
        }
    </p>
    <p>Date launch: <b> @Movie.DateLaunch.ToString("yyyy MMM dd") </b></p>
    @if (ShowButtons)
    { *@
@*   <div>
            <button @onclick="DeleteMovie">Delete</button>
        </div> *@
@*  <div>
            <button @onclick="@(() => DeleteMovieEvent.InvokeAsync(Movie))">Delete</button>
        </div>
    }
</div> *@

<div class="me-2 mb-2" style="text-align: center">
    <a href="@urlMovie">
        <img src="@Movie.Poster" alt="porter" style="width: 225px; height: 300px;" />
    </a>
    <p style="max-width: 225px; height: 44px; font: 15px; font-weight: bold">
        <a href="@urlMovie" class="text-decoration-none">@Movie.Title</a>
    </p>
    <div>
        <a class="btn btn-info" href="movies/edit/@Movie.Id">Edit</a>
        <button type="button" class="btn btn-danger" @onclick=@(() => DeleteMovieEvent.InvokeAsync(Movie))>Delete</button>
    </div>
</div>


@code {
    [Parameter]
    [EditorRequired]
    public Movie Movie { get; set; } = null!;
    [Parameter]
    public bool ShowButtons { get; set; } = false;

    [Parameter]
    public EventCallback<Movie> DeleteMovieEvent { get; set; }

    void DeleteMovie()
    {
        Console.WriteLine($"Deleting movie {Movie.Title}");
    }

    private string urlMovie = string.Empty;

    protected override void OnInitialized()
    {
        urlMovie = $"movie/{Movie.Id}/{Movie.Title.Replace(" ", "-")}";
    }
}
