@page "/counter"
@* @inject ServicesSingleton singleton
@inject ServicesTransient transient *@

<PageTitle>Counter @currentCount</PageTitle>

<h1>Counter</h1>

    <h3 style="color: @Color">example cascading values</h3>

<p role="status">Current count: @currentCount</p>
<p role="status">Singleton count: @singleton.Value</p>
<p role="status">Transient count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJS">Click me Javascript</button>

@code {
    // private int currentCount = 0;

    // private void IncrementCount()
    // {
    //     currentCount++;
    //     singleton.Value = currentCount;
    //     transient.Value = currentCount;
    // }
}
