@page "/counter"
@* @inject ServicesSingleton singleton
@inject ServicesTransient transient *@

<PageTitle>Counter @currentCount</PageTitle>

<h1>Counter</h1>

   @*  <h3 style="color: @Color">example cascading values</h3>

<p style="color: @Color; font-size: @Size" role="status">Current count: @currentCount</p> *@
    <h3 style="color: @appState.Color">example cascading values</h3>

    <p style="color: @appState.Color; font-size: @appState.Size" role="status">Current count: @currentCount</p>
<p role="status">Singleton count: @singleton.Value</p>
<p role="status">Transient count: @transient.Value</p>

<div style="display: flex;" class="mt-4">
    <div style="width: 150px" class="me-2" >
        <select @bind="@appState.Color" class="form-control">
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
        </select>
    </div>
    <div style="width: 150px" class="me-2">
        <select @bind="@appState.Size" class="form-control">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30px</option>
        </select>
    </div>
</div>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJS">Click me Javascript</button>

@code {
    // private int currentCount = 0;

    // private void IncrementCount()
    // {
    //     currentCount++;
    //     singleton.Value = currentCount;
    //     transient.Value = currentCount;
    // }
}
