@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Hola, @name </p>
@* <p>Hola, @Transform(name) </p> *@
<p>Hola, @Utilities.UtilitiesString.Transform(name) </p>

<p>Expresión implicita: @name </p>
<p>Expresión explicita: 2 + 2  = @(2 + 2)</p>

<button @onclick=@(() => Console.WriteLine("Button pressed!"))>Press</button>
<button @onclick=@ManageClickButton>Press</button>


<div>
    <h3>Movies</h3>
    <p>Title: <b>@BlackLove.Title</b></p>
    <p>Date launch: <b> @BlackLove.DateLaunch.ToString("yyyy MMM dd") </b></p>
</div>

<div>
    <h3>Movies</h3>

    @if (Movies is null)
    {
        <p>loading movies...</p>
    }
    else
    {
        <h4>Example Foreach</h4>
        @foreach (var movie in Movies)
        {
            <div>
                <p>
                    Title: <b>@movie.Title</b>
                    @if (DateTime.Today.Subtract(movie.DateLaunch).Days <= 14)
                    {
                        <span style="color: orangered"> (new!)</span>
                    }
                </p>
                <p>Date launch: <b> @movie.DateLaunch.ToString("yyyy MMM dd") </b></p>
            </div>
        }
        <h4>Example For</h4>
        @for (int i = 0; i < Movies.Count; i++)
        {
            <div>
                <p>@(i + 1)) Title: <b>@Movies[i].Title</b></p>
                <p>Date launch: <b> @Movies[i].DateLaunch.ToString("yyyy MMM dd") </b></p>
            </div>
        }
    }
</div>

@code {
    string name = "Dani";

    // string Transform(string valor) => valor.ToUpper();

    void ManageClickButton()
    {
        Console.WriteLine("Click under function");
    }

    Movie BlackLove { get { return GetMovie(); } }
    Movie GetMovie()
    {
        return new Movie()
            {
                Title = "Black, Amor y Compasión",
                DateLaunch = new DateTime(2023, 11, 11)
            };
    }

    List<Movie> GetMovies()
    {
        return new List<Movie>()
        {
            new Movie() { Title = "Black, Amor y Compasión", DateLaunch = new DateTime(2023, 11, 11) },
            new Movie() { Title = "Winter", DateLaunch = new DateTime(2024, 05, 19) },
            new Movie() { Title = "Panter", DateLaunch = new DateTime(2024, 1, 21) }
        };
    }

    // List<Movie> Movies {get { return GetMovies(); }}
    List<Movie>? Movies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        Movies = GetMovies();
    }
}
