@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Hola, @name </p>
@* <p>Hola, @Transform(name) </p> *@
<p>Hola, @Utilities.UtilitiesString.Transform(name) </p>

<p>Expresión implicita: @name </p>
<p>Expresión explicita: 2 + 2  = @(2 + 2)</p>

<button @onclick=@(() => Console.WriteLine("Button pressed!"))>Press</button>
<button @onclick=@ManageClickButton>Press</button>

@*
<div>
    <h3>Movies</h3>
    <p>Title: <b>@BlackLove.Title</b></p>
    <p>Date launch: <b> @BlackLove.DateLaunch.ToString("yyyy MMM dd") </b></p>
</div> *@

<div>
    <h3>Movies</h3>

    <div>
        <MoviesList Movies="GetMovies()"></MoviesList>
    </div>
</div>

<div>
    <h2>Example Create Movies</h2>

    @* <EjemploTextbox placeholder="movie name"></EjemploTextbox> *@
    @*   <EjemploTextbox @attributes="@(new Dictionary<string, object>()
    {
    {"placeholder", "new placeholder"},
    {"disabled", "true"}
    })"></EjemploTextbox> *@
    <EjemploTextbox @attributes="parametersTxt"></EjemploTextbox>
</div>

<div>
    <h2>OnInput</h2>
    <BindEvent></BindEvent>
</div>

<div>
    <h2>Bind Set Get</h2>
    <BindGetSerDemo></BindGetSerDemo>
</div>

<div>
    <h2>Bind After Demo</h2>
    <BindAfterDemo></BindAfterDemo>
</div>
 
<div>
    <h3>Movies --------- </h3>

    <div>
        <MoviesList Movies="GetMovies()">
            <Loading>
                <p>loading movies... (loading fragment)</p>
            </Loading>
            <NoRecords>
                <p>No movies availables (loading fragment)</p>
            </NoRecords>
        </MoviesList>
    </div>
</div>

@code {
    string name = "Dani";
    // string Transform(string valor) => valor.ToUpper();

    private Dictionary<string, object> parametersTxt = new Dictionary<string, object>()
                                    {
                                        {"placeholder", "new placeholder"},
                                        {"disabled", "true"}
                                    };

    void ManageClickButton()
    {
        Console.WriteLine("Click under function");
    }

    // Movie BlackLove { get { return GetMovie(); } }
    // Movie GetMovie()
    // {
    //     return new Movie()
    //         {
    //             Title = "Black, Amor y Compasión",
    //             DateLaunch = new DateTime(2023, 11, 11)
    //         };
    // }

    List<Movie> GetMovies()
    {
        return new List<Movie>()
        {
            new Movie() { Title = "Black, Amor y Compasión", DateLaunch = new DateTime(2023, 11, 11) },
            new Movie() { Title = "Winter", DateLaunch = new DateTime(2024, 05, 19) },
            new Movie() { Title = "Panter", DateLaunch = new DateTime(2024, 1, 21) }
        };
    }

    // // List<Movie> Movies {get { return GetMovies(); }}
    // List<Movie>? Movies { get; set; }


}
